.UrlForm {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.UrlInput {
    padding: 10px;
    margin-right: 40px;
    width: 300px;
    border-radius: 15px;
    font-size: 16px;
    border: 2px solid black;
}

.SubmitButton {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
}

.SubmitButton:hover {
    background-color: #757575;
    border-radius: 5px;
}

.Message {
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(255, 76, 76);
}
